<h1>The Henry Family stresses the importance of loving everyone and having fun while doing it.</h1>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="Here we are...">
    <ul class="navbar-nav">
      <li class="Haley, my fiance!">
        <a class="nav-link" href="Henry_USNA.jpg">Link 1</a>
      </li>
      <li class="Brettleigh">
        <a class="nav-link" href="B-Popsicle.JPG">Link 2</a>
      </li>
      <li class="Briella">
        <a class="nav-link" href="ELLA.JPG">Link 3</a>
      </li>
    </ul>
  </div>
</nav>