<html style="background-color:rgb(180, 54, 120)"></html>
<h1 style ="padding-left: 260px;"> Love everyone and have fun while doing it! </h1>

  
<div class="container-fluid">
  <p> A little about my 4 year old, Brettleigh</p>
  <li>She loves noodles. </li>
  <li>She hates walking. </li>
  <li>She loves swimming. </li>
  <li>She can sleep all morning. </li>
</div>
<br>
<div class="container-fluid">
  <p> A little about my 1 year old, Ella</p>
  <li>She hates swimming. </li>
  <li>She loves moon pies and raisin bread. </li>
  <li>She is the world's best travel buddy. </li>
  <li>She is not amused by dogs. </li>
</div>
</div>