<h1>Edit Article</h1>

<%= render "form", article: @article %>

<nav class="navbar navbar-expand-sm bg-light">
  <div class="My Family">
    <ul class="navbar-nav">
      <li class="Haley">
        <a class="nav-link" href="Henry_USNA.jpg">Link 1</a>
      </li>
      <li class="Brettleigh">
        <a class="nav-link" href="B-Popsicle.JPG">Link 2</a>
      </li>
      <li class="Briella">
        <a class="nav-link" href="ELLA.JPG">Link 3</a>
      </li>
    </ul>
  </div>
</nav>