<h1>Our Mission and Our Why</h1>
<h2>We Henry's are huge on our family name and being known throughout our community for spreading kindness and love. Below you can take a look at all the members of our family. If you ever see any of us in the store please stop us and introduce yourself. We love you all just as much as we love eachother. </h2> 

<nav class="navbar navbar-expand-sm bg-light">
  <div class="My Family">
    <ul class="navbar-nav">
      <li class="Haley">
        <a class="nav-link" href="Henry_USNA.jpg">Link 1</a>
      </li>
      <li class="Brettleigh">
        <a class="nav-link" href="B-Popsicle.JPG">Link 2</a>
      </li>
      <li class="Briella">
        <a class="nav-link" href="ELLA.JPG">Link 3</a>
      </li>
    </ul>
  </div>
</nav>