<html style="background-color:darkgoldenrod"></html>
<h1> Hello World! </h1>
<p>
    <h3 style="background-color:coral;">Have you ever wondered what it would be like to be a graduate of the United States Naval Academy?
        If so, do not feel alone! Every single day I sit and wonder how it must feel. Will it be better than being a student? Will I be a decent adult? These questions running through your head are normal. It is completely understandable to question everything.</h3>
</p>
<p>
    <h4>Below is a list of the pros and cons that come with attending USNA.</h4>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Pros</h5>
    <p class="card-text"><li>Diploma from USNA. </li>
                        <li>Serving your country.</li></p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Cons</h5>
    <p class="card-text"><li>Parades. </li>
                        <li>Forrestal Lectures.</li></p>
  </div>
</div>
