<html style="background-color:darkgoldenrod"></html>
<h1> Hello World! </h1>
<p>
    <h3 style="background-color:coral;">Have you ever wondered what it would be like to be a graduate of the United States Naval Academy?
        If so, do not feel alone! Every single day I sit and wonder how it must feel. Will it be better than being a student? Will I be decent adult? These questions running through your head are normal. It is completely understandable to question everything.</h3>
</p>
<p>
    <h4>Below is a table of the pros and cons that come with attending USNA.</h4>
    <table>
        <tr>
            <th>Pros and Cons of attending USNA</th>
        </tr>
        <tr>
            <td>Pros</td> 
            <td>Cons</td> 
        </tr>
        <tr>
            <td>Diploma from USNA</td>
            <td>Have to attend USNA</td>
        </tr>
        <tr>
            <td>Serving your country</td>
            <td>Have to attend USNA</td>
        </tr>
    </table>
</p>

