<h1>Shopping Cart</h1>

<p>Are you sure you're done shopping our great selection?</p>

<div class="alert alert-warning">
  <strong>WARNING!</strong> Read this message and proceed with caution</a>.
</div>

class Product < ApplicationRecord
    validates :name, presence: true
    validates :price, comparison: {greater_than: 0}
end

<h2>Your Cart: </h2>
<ul>
<% @cart.each do |product| %>
    <li><%=product["name"]%></li>
<% end %>
</ul>
<h3>Comments</h3>
<%= render @article.comments %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>