<html style="background-color:rgb(153, 143, 143)"></html>
<title>Kensley Tyleah Henry's Blog</title>
<h1> A little about me, Kensley. </h1>

<div class="alert alert-warning">
  <strong>WARNING!</strong> Read this message and proceed with caution</a>.
</div>

<h2 style ="color:rgb(83, 49, 49); padding-left: 450px;"> Kensley Henry's Blog Page</h2>

<ul>
<li> I go to the Naval Academy in Annapolis, MD. </li>
    <a href = "https://www.usna.edu">(My school can be referenced at this link.)</a>  
<li> I am origionally from the great state of Tennessee. </li>
<li> I have two younger sisters and one younger brother. </li>
<li> I love to travel. </li>
</ul>

<h3> My top 3 favorite places that I've traveled to so far are: </h3>
<ol>
    <li>Slovakia</li>
    <li>Utah</li>
    <li>Colorado</li>
</ol>

<img src = "tennessee.PNG">
<p><h2>I have two other websites that you could visit if wanted:</h2></p>
    <p><a href ="index.html">Learn about why I don't like school here.</a></p>
    <p><a href ="KensleyWeb.html">Learn about my family here.</a></p>