<html style="background-color:rgb(153, 143, 143)"></html>
<h1 style ="padding-left: 410px;"> Kensley Henry's Blog Page </h1>

<div class="alert alert-warning">
  <strong>WARNING!</strong> Read this message and proceed with caution</a>.
</div>

<div class="card border-light text-center text-white bg-dark mx-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">A little about me...</h5>
    <p class="card-text"><li>I go to the Naval Academy in Annapolis, MD.</li>
                        <a href = "https://www.usna.edu">(My school can be referenced at this link.)</a>
                        <li>I am origionally from the great state of Tennessee.</li>
                        <li>I have two younger sisters and one younger brother.</li>
                        <li>I love to travel.</li></p>
  </div>
</div>


